body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:13px;
  top:6px;
  width:1687px;
  height:154px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1687px;
  height:154px;
}
#u1 {
  position:absolute;
  left:2px;
  top:69px;
  width:1683px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:13px;
  top:170px;
  width:1557px;
  height:610px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1557px;
  height:610px;
}
#u3 {
  position:absolute;
  left:2px;
  top:297px;
  width:1553px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:13px;
  top:833px;
  width:1677px;
  height:527px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1677px;
  height:527px;
}
#u5 {
  position:absolute;
  left:2px;
  top:256px;
  width:1673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:37px;
  top:1405px;
  width:1673px;
  height:865px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1673px;
  height:865px;
}
#u7 {
  position:absolute;
  left:2px;
  top:424px;
  width:1669px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:2366px;
  width:1710px;
  height:224px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:224px;
}
#u9 {
  position:absolute;
  left:2px;
  top:104px;
  width:1706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:42px;
  top:2618px;
  width:1408px;
  height:662px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1408px;
  height:662px;
}
#u11 {
  position:absolute;
  left:2px;
  top:323px;
  width:1404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:58px;
  top:3305px;
  width:1552px;
  height:675px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1552px;
  height:675px;
}
#u13 {
  position:absolute;
  left:2px;
  top:330px;
  width:1548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:90px;
  top:4028px;
  width:1148px;
  height:907px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:907px;
}
#u15 {
  position:absolute;
  left:2px;
  top:446px;
  width:1144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:42px;
  top:5000px;
  width:1243px;
  height:351px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1243px;
  height:351px;
}
#u17 {
  position:absolute;
  left:2px;
  top:168px;
  width:1239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:42px;
  top:5390px;
  width:1258px;
  height:490px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:490px;
}
#u19 {
  position:absolute;
  left:2px;
  top:237px;
  width:1254px;
  visibility:hidden;
  word-wrap:break-word;
}
